
html, body {
    height: 50%;
    margin: 0;
    width: 500px;
    font-family: Comic Sans MS, cursive;
    font-size: 30;
    font-weight: bold;
    background-image: url(https://i.yapx.ru/SVJ5H.gif)}

.kub {
    margin: auto;
    background-color: #ff0000;
    border: 2px solid #000000;
    border-radius: 2px;
    padding: 2px;
    width: 500px;
}